
/* heading */
.navbar.navbar-expand-sm{
    background-color: #028090 !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link{
    margin-left: 3rem;
    color:white;
   font-size: 1rem;
   
}
/* dropdown */
.drop{
  text-decoration: none;
  color:white;
  font-size: 1rem;

}
.dropdown-item{
  background-color: #028090 !important ;
  color:white !important;
}


/* Sidebar */
.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#00A896;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
  }
 
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
    margin-top: 0;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white !important;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#028090;
    color: white;
    padding: 10px 15px;
    border: none;
  }


  /* tanya sharma */
  .name{
    margin-top: 1rem;
    
  }
  .line1{
    margin-top:-70px;
  }
  .line2{
    margin-top:-100px;
  }
  

  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* MIDDLE PART */
  
  /* cards */
.card-body .card-text .card-title{
  height:6.5rem !important;
  width:15rem !important;
}
.card-img-top{
  height:20rem !important;
}
/* end cards */


/*body*/
body{
  background-image: url("images/imgback.png");
  background-size:cover;
};
/* end body */

    .footer{
      position: absolute;
        background-color: #028090;
        margin-top: 4rem;
        height:fit-content;
      width: 100%;
      left: 0;
      right:0;
      margin-top: 5rem;
     
     
      }
     
      .footer_para{
        color: white;
        margin-top: 3rem !important;
        font-size: 1.4rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .durga_footer{
        font-family: math;
        font-weight: 700;
       }
       .list-inline-item{
        color:white;}
       .row{
        justify-content: space-around;
        background-color: #028090;
       }