
/* heading */
.navbar.navbar-expand-sm{
    background-color: #028090 !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link{
    margin-left: 3rem;
    color:white;
   font-size: 1rem;
   
}
/* dropdown */
.drop{
  text-decoration: none;
  color:white;
  font-size: 1rem;

}
.dropdown-item{
  background-color: #028090 !important ;
  color:white !important;
}


/* Sidebar */
.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#00A896;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
  }
 
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
    margin-top: 0;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white !important;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#028090;
    color: white;
    padding: 10px 15px;
    border: none;
  }


  /* tanya sharma */
  .name{
    margin-top: 1rem;
    
  }
  .line1{
    margin-top:-70px;
  }
  .line2{
    margin-top:-100px;
  }
  

  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* MIDDLE PART */
  
  body{
    background-image: url("images/pcbg.png");
    background-size: cover;

  }

 .main{
    
    height: 99%;
    width: 100%;
    margin-top: .1rem;
    margin:0;
    display: inline;
   
  }
  .head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bolder;
    margin-left:5%;
    font-size: 5rem;
    color:#002f42;
  }
  .card-text{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:#002f42;
   

  }
  .card-body{
    padding: 0% !important;
  }
  .box2{
    border:4px solid #00A896 ;
    width:30%;
    float:right;
    margin-top:10rem;
    margin-right: 2rem;
    width:25%;
    height:35rem;
    border-radius:2rem;
    background-image: url("images/parentprofile.png");
    background-size: cover;

    
  }
 #parentprofile{
  margin-left:40%;
  margin-top:25%;
  width:6rem;
  border-radius:50%;
  border: #f9d162,solid,3px;
 }
 .entry{
  background-color: white;
  border-radius: 2rem;
  width:100%;
  height:2rem;
  
 }
 h1{
  font-size:100%;
  margin-left:1rem;
  padding-top: 0.4rem;
 }
 .p-2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left:1rem;
 }
  .card{
    width:18rem;
    margin-left:2rem;
    margin-top: 1rem;
    border: 3px solid #00A896 ;
    border-radius: 2.5rem;
  }

  .image{
    border-radius: 3rem;
    height: 15rem;
    width: 16rem;
   
   
  }
  #one{
    background-image: url("images/to-do.jpeg");
    background-size: cover;
  }
  #two{
    background-image: url("images/payment.jpeg");
    background-size:cover;
    }
  #three{
    background-image:url("images/course.jpeg") ;
    background-size:cover;
  }
  #four{
    background-image:url("images/screentime.jpeg") ;
    background-size:cover;
  }
  #five{
    background-image:url("images/remarks.jpeg") ;
    background-size:cover;
  }
  #six{
    background-image: url("images/teacher.jpeg");
    background-size:cover;
    }

    .footer{
      position: absolute;
        background-color:  #028090;
        margin-top: 4rem;
        height:fit-content;
      width: 100%;
      left: 0;
      right:0;
      margin-top: 5rem;
     
     
      }
     
      .footer_para{
        color: white;
        margin-top: 3rem !important;
        font-size: 1.4rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .durga_footer{
        font-family: math;
        font-weight: 700;
       }
       .list-inline-item{
        color:white;}
       .row{
        justify-content: space-around;
       }